<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pf0n1x.getmoredone">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icons8_checked_100"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icons8_checked_100"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SettingsAboutActivity"
            android:label="About"
            android:parentActivityName=".SettingsActivity">

            <intent-filter>

                <action android:name="com.pf0n1x.getmoredone.SettingsAboutActivity" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pf0n1x.getmoredone.SettingsActivity" />

        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pf0n1x.getmoredone.MainActivity" />
        </activity>
        <!--<activity-->
        <!--android:name=".NewTaskActivity"-->
        <!--android:label="New Task"-->
        <!--android:parentActivityName=".MainActivity"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value=".MainActivity" />-->
        <!--&lt;!&ndash; Use a text element &ndash;&gt;-->
        <!--</activity>-->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.BROWSABLE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>